




// UI components
.ui {

	

	// Music card
	&.music-card {

		//padding: 10px;
		cursor: pointer;
		transition: all .5s ease;
		
		// Easier way than rows..
		float: none!important;
		display: inline-block;
		vertical-align: top;
		
		&.big {
			width:100%;

			.out-img {
				padding: 0;
			}

			.down {
				padding:110px 0;

				.btn {
					padding: 1em 2em;
					background:$secondary;
					color:white;
					span {
						display: inline-block;
						vertical-align: middle;
						padding-right:10px;
						margin-top: -4px;
					}
					&:hover {
						background:darken($secondary, 12);
					}
				}
			}

			.info {
				text-align: left;
				padding: 80px 0;
				padding-left: 50px;

				.music-title {
					font-size: 32px;
					color:white;
					color:white;
				}

				.music-text {
					font-size: 18px;
				}



			}

			.music-img-overlay {
				background:rgba($primary,.3)!important;
				opacity: 1!important;
			}
		}

		&:hover {
			
			.out-img {
				@include border-radius(50%);
			}
			.music-img {
				opacity: 1;

				@include scale(1.1);

			}

			.music-img-overlay {
				
				opacity: 1!important;
			}


		}


		.music-img, .info {

		}

		.info {
			padding:10px 0 50px 0;
			text-align: center;
			


			.music-title {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				word-break: normal;
				font-size: 18px;
				font-weight: 400;
				transition: text-shadow .5s ease;
				&:hover {
					text-shadow: 0px 0px 5px rgba($secondary,1);
				}
			}


		}

		.out-img {

			&.w100 {
				width:100%;
			}
			border:1px solid transparent;
			//height:250px;
			@include translateZ(0);
			@include border-radius(50%);
			overflow: hidden;
			position: relative;

			

			.music-img {
				width:100%;
				height:auto;
				opacity: .8;
				transition: transform .5s ease;
				@include border-radius(50%);
			}

			.music-img-overlay {
				background:rgba($primary,.8);
				position: absolute;
				top:0;
				opacity: 0;
				@include border-radius(50%);
				left:0;
				bottom:0;
				right:0;
				text-align: center;
				transition: all .5s ease;
				
				&.playing {
					opacity: 1!important;
				}

				.play-container {
					  position: absolute;
					  top: 50%;
					  left: 50%;
					  margin-top: -30px;
					  margin-left:-25px;

					  &.playing {
					  	margin-left: -28px;
					  }
					}

					.pause-btn {
					  display: inline-block;
					  height: 60px;
					  width: 46px;
					  cursor: pointer;
					}

					.pause {
					  display: inline-block;
					  height: 60px;
					  width: 0;
					  background-color: $secondary;
					  border-radius: 2px;
					  transform: translateX(-20px);
					  cursor: pointer;
					  
					  transition: all 250ms cubic-bezier(.12,.91,.67,.89);
					  
					  &.show {
					    width: 20px;
					    transform: translateX(5px);
					    
					    &:after {
					      width: 20px;
					      transform: translateX(5px);
					    }
					  }
					  
					  &:after {
					    display: inline-block;
					    position: relative;
					    content: '';
					    left: 25px;
					    height: 60px;
					    width: 0;
					    background-color: $secondary;
					    border-radius: 2px;
					    transform: translateX(-20px);
					    
					    transition: all 250ms cubic-bezier(.12,.91,.67,.89);
					  }
					}

					.play {
					  display: inline-block;
					  position: relative;
					  width: 0; 
						height: 0; 
					  opacity: 1;
						border-top: 30px solid transparent;
						border-bottom: 30px solid transparent;
						border-left: 50px solid white;
					  transform: translate(-46px, 0);
					  cursor: pointer;
					  
					  transition: all 250ms cubic-bezier(.12,.91,.67,.89);
					  
					  &.playing {
					    border-top: 10px solid transparent;
					    border-bottom: 10px solid transparent;
					    transform: translate(20px, -18px);
					    opacity: 0;
					    visibility: hidden;
					  }
					}



			}			
		}

	}


	// loader
	&.loader {
		position: fixed;
		background:$primary;
		width:100%;
		height:100%;
		top:0;
		transition: all .5s ease;

		&.loaded {
			opacity: 0;
			visibility: hidden;
			pointer-events:none;

		}

		#bars {
			position:fixed;
			margin: auto;
			left:0;
			right:0;
			top:50%;
			width : 90px;
		  
			ul {
			    margin : 0;
			    list-style:none;
			    width:100px;
			    position : relative;
			    padding : 0;
			    height:65px;
			    
			    li {
			      
			      display: inline-block;
			      vertical-align: middle;
			      position:relative;
			      width:2px;
			      height : 10px;
			      background-color: $secondary;
			 
			    }

			}

			li:nth-child(1){
			  left : 0;
			  animation: sequence1 1s ease-out infinite 0s;

			}
			li:nth-child(2){
			  left : 15px;
			  animation: sequence1 1s ease-out infinite 0.1s;
	
			}
			li:nth-child(3){
			  left : 30px;
			  animation: sequence1 1s ease-out infinite 0.2s;

			}
			li:nth-child(4){
			  left : 45px;
			  animation: sequence1 1s ease-out infinite 0.3s;

			}

			li:nth-child(5){
			  left : 60px;
			  animation: sequence1 1s ease-out infinite 0.4s;

			}
			li:nth-child(6){
			  left : 75px;
			  animation: sequence1 1s ease-out infinite 0.5s;
	
			}



		}
	}

	//Player 
	&.player {
		span {
			display: block;
			color:white;
		}
	}
}

//pages
.page {

	&.music-page {
		
		.header-song {
			width:100%;
			position:relative;
			background-position:center top;
			padding:20px 0;
		}
		.content-song {
			color:white;
			
			h2 {
				padding:20px 0;
				font-weight: 100;
			}
			ul {
				list-style-type: none;
				margin:0;
				padding: 0;

				b {
					font-size: 15px;
					letter-spacing: 1.2px;
					width:100px;
					display: inline-block;
				}
			}
		}

		.overlay {
			position:absolute;
			width:100%;
			top:0;
			height:100%;
			background:rgba($primary, .8);
		}

	}

	&.music-list {
	
		padding:0;
		padding-top:50px;
		list-style-type: none;


	}
}