
@import "compass/css3/border-radius";

// UI components
.ui {

	

	// Music card
	&.music-card {

		padding: 10px;
		position: relative;
		overflow: hidden;
		cursor: pointer;
		transition: all .5s ease;


		&:hover {
			.music-img {
				opacity: 1;
			}

		}
		.music-img, .info {

		}

		.info {

			.music-title {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				word-break: normal;
			}
		}


		.music-img {
			width:100%;
			opacity: .8;
			transition: opacity .5s ease;
			
			//@include border-radius(50%);
		}

		.music-img-overlay {
			background:rgba(#55595C,.4);
			position: absolute;
			top:0;
			left:0;
			bottom:0;
			right:0;
			margin: 10px;
			padding:20px;
			text-align: center;
			height: 265px;




		}
	}
}