<div class="container">
	<ul class="page music-list">

		<li class="ui music-card col-xs-12 col-sm-4 col-md-3 col-lg-3"  ng-repeat="music in musics">
			
			<div class="out-img w100">
				<img class="music-img " imgload="countLoad()" src="{{ music.track_image_file }}" alt="{{ music.track_title }}" />
				<div class="music-img-overlay" ng-class="music.track_id == playingId ? 'playing' : ''">
					<div class="play-container" ng-class="music.track_id == playingId ? 'playing' : ''">
					  <span class="pause-btn"   ng-click="pause($event)">
					    <span class="pause"  ng-class="music.track_id == playingId ? 'show' : ''" ></span>
					  </span>
					  <span class="play" ng-class="music.track_id == playingId ? 'playing' : ''" ng-click="play($event, music)"></span>
					</div>
				</div>
			</div>


				
			<div class="info ">
				<a href="#/music/{{ music.track_handle }}">
					<h5 class="music-title">{{ music.track_title }}</h5>
					<p class="music-text"><small class="text-muted">{{ music.artist_name }}</small></p>
				</a>
			</div>
		</li>
	</ul>
</div>
